<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <form (ngSubmit)="updateProduct(f)" #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label">Pavadinimas</label>
                <input type="text" class="form-control" name="name" value="" ngModel [(ngModel)]="name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Kaina</label>
                <input type="text" class="form-control" name="price" value="" ngModel [(ngModel)]="price">
            </div>
            <button class="btn btn-success" type="submit">Atnaujinti</button>
        </form>
    </div>

</div>