<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">Registruotis į sistemą</div>
            <div class="card-body">
                <form (ngSubmit)="onRegister(f)" #f="ngForm">
                    <div class="mb-3">
                        <label for="" class="form-label">El.pašto adresas</label>
                        <input type="email" name="email" class="form-control" ngModel required minLength="5" maxLength="64" email>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Vartotojo vardas</label>
                        <input type="text" name="username" class="form-control" ngModel required minLength="2" maxlength="64" pattern="[a-zA-Z]*">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Slaptažodis</label>
                        <input type="password" name="password" class="form-control" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Pakartokite slaptažodį</label>
                        <input type="password" name="" class="form-control">
                    </div>
                    <button class="btn btn-success">Registruotis</button>
                </form>
            </div>
        </div>
    </div>

</div>